.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.97), rgba(0,0,0,0.97)), url("images/background-site.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 250px;
  margin: 255px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 234px 0 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 132px;
  margin: 317px 455px 60px 538px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 24px;
    margin-right: 205px;
  }

  .u-section-1 .u-text-2 {
    width: 506px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-right: 365px;
    margin-left: 438px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 63px;
    margin-right: 63px;
  }

  .u-section-1 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-custom-html-1 {
    width: 570px;
    margin-left: 328px;
    margin-right: 245px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
    margin-left: 238px;
    margin-right: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
    margin-left: 138px;
    margin-right: 55px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 516px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 197px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 361px 0 0;
}

.u-section-2 .u-line-1 {
  width: 140px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 26px auto 0 0;
}

.u-section-2 .u-shape-1 {
  width: 260px;
  height: 223px;
  background-image: none;
  margin: 76px auto 0 124px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 102px;
  margin: -232px 360px 0 49px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 218px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 30px 30px;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 298px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 30px 30px;
}

.u-section-2 .u-image-1 {
  width: 255px;
  height: 72px;
  margin: -4px auto 0 124px;
}

.u-section-2 .u-text-4 {
  margin: 51px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 577px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 97px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 282px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 31px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 83px;
    margin-left: 99px;
  }

  .u-section-2 .u-custom-html-1 {
    height: auto;
    margin-right: 161px;
    margin-left: 24px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 185px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 392px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.6875rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    margin-right: 173px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 29px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 141px;
    margin-left: 41px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 105px;
    margin-left: -30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    width: 175px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-line-1 {
    margin-top: 25px;
    margin-left: auto;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 109px;
    margin-left: 128px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 207px;
    margin-left: 58px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 130px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 121px;
    margin-left: 35px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 100px;
    margin-left: -35px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 33px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 60px;
  }
}.u-section-3 {
  background-image: linear-gradient(#fdaa1b, #c87137);
}

.u-section-3 .u-sheet-1 {
  min-height: 580px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 200px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-3 .u-text-1 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
  text-shadow: 2px 0 8px rgba(0,0,0,0.3);
  font-size: 2.25rem;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  font-weight: 700;
  font-size: 1.25rem;
  text-shadow: 2px 0 8px rgba(0,0,0,0.3);
  margin-right: 22px;
  margin-bottom: 0;
}

.u-section-3 .u-line-1 {
  width: 140px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 30px 0;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 460px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-group-1 {
  width: 260px;
  background-image: none;
  min-height: 223px;
  box-shadow: 2px -2px 8px 0 rgba(0,0,0,0.3);
  margin: 101px auto 0 126px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 292px;
  height: 290px;
  animation-duration: 1000ms;
  margin: -304px auto 0 189px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 481px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 111px;
    margin-left: 73px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -313px;
    margin-left: 128px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.6875rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 595px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-3 .u-group-1 {
    margin-top: 156px;
    margin-right: 42px;
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    margin-top: -316px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
  }

  .u-section-3 .u-line-1 {
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 403px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 100px;
    margin-right: 152px;
    margin-left: 118px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -312px;
    margin-right: 46px;
    margin-left: 192px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 400px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 103px;
    margin-right: 42px;
    margin-left: 25px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 0;
    margin-left: auto;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 200px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-line-1 {
  width: 140px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 22px auto 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-list-1 {
  min-height: 364px;
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-gap: 30px 30px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 0.875rem;
  margin: 30px 0 0;
}

.u-section-4 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: 20px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 0.875rem;
  margin: 30px 0 0;
}

.u-section-4 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: 20px 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 0.875rem;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-4 .u-list-1 {
    min-height: 297px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 53px;
    margin-right: 53px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-list-1 {
    min-height: 668px;
    grid-template-columns: repeat(2, calc(50% - 15px));
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-list-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 30px;
    margin-right: 30px;
  }
}.u-section-5 {
  background-image: linear-gradient(#fdaa1b, #c87137);
}

.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 200px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 0 8px rgba(0,0,0,0.3);
  margin: 0 197px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  text-shadow: 2px 0 8px rgba(0,0,0,0.3);
  font-weight: 700;
  margin: 20px 293px 0 0;
}

.u-section-5 .u-line-1 {
  width: 140px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 30px auto 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 30px 0;
}

.u-section-5 .u-text-3 {
  margin: 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-group-1 {
  width: 260px;
  background-image: none;
  min-height: 223px;
  box-shadow: 2px -2px 8px 0 rgba(0,0,0,0.3);
  margin: 59px auto 0 118px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-custom-html-1 {
  min-height: 72px;
  margin: -266px 378px 0 49px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 97px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 193px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 111px;
    margin-left: 73px;
  }

  .u-section-5 .u-custom-html-1 {
    height: auto;
    margin-right: 327px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 83px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 253px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 156px;
    margin-right: 42px;
    margin-left: 40px;
  }

  .u-section-5 .u-custom-html-1 {
    margin-right: 217px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 380px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 100px;
    margin-right: 152px;
    margin-left: 118px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 239px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 103px;
    margin-right: 42px;
    margin-left: 25px;
  }

  .u-section-5 .u-custom-html-1 {
    margin-right: 17px;
  }
}